.todos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.todo {
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 20vw;
    min-height: 8em;
    margin: .25em;
    border: 1px solid #dcdcdc;
}

.todo__header {
    font-size: .8em;
}

.todo__time {
}

.todo__type {

}

.todo__content {

}

.userTable {
    width: 100vw;
}

.userTable__head {
    background-color: #dcdcdc;
}
.userTable__headingHeaderRow th{
    border-bottom: 2px solid #dcdcdc;
}

.userTable__headingHeader {
    text-align: center;
}

.userTable__headingHeader--controls {
    width: 4em;
}

.userTable__headingHeaderRow + .userTable__headingHeaderRow th {
    font-size: .8em;
}
.userTable__body {
    font-size: .75em;
}

.userTable__cell {
    padding: .25em;
}

.userTable__cell input {
    width: 100%;
}

.userTable #id,
.userTable #state,
.userTable #country {
    width: 4ch;
}

.userCreate {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr;
    grid-template-areas: "header header""name address" "contact address" "footer footer"
}

.userCreate__fieldset {
    border: none;
    background-color: rgb(245,245,245);
}

.userCreate__fieldset--name {
    grid-area: name;
}

.userCreate__fieldset--contact {
    grid-area: contact;
}

.userCreate__fieldset--address {
    grid-area: address;
}

.userCreate__fieldset--controls {
    grid-area: footer;
}

.userCreate__fieldsetLegend {
    text-transform: capitalize;
}
.userCreate__field {
    display: inline-block;
    width: 49%;
}

.userCreate__fieldLabel {
    text-transform: capitalize;
    display: inline-block;
    width: 5em;
}

.userCreate__submit {
    font-size: 1.25rem;
    padding: .618em;
}