.todos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}

.todo {
    flex-grow: 0;
    flex-shrink: 0;
    max-width: 20vw;
    min-height: 8em;
    margin: .25em;
    border: 1px solid #dcdcdc;
}

.todo__header {
    font-size: .8em;
}

.todo__time {
}

.todo__type {

}

.todo__content {

}