/*===============
#OBJECTS
===============*/


/*=====
#TABLE
=====*/

.table {
    width: 100vw;
}

.table__head {
    background-color: var(--colorNeutralLightest)
}

.table__heading {
    font-size: 1em;
}

.table__headingHeader {
    text-align: center;
}

.table__headingHeader--controls {
    width: 4em;
}

.table__body {
    font-size: .75em;
}

.table__cell {
    padding: .25em;
}

.table__cell__imgPreview {
    max-width: 6vw;
}


/*=====
#CARD
=====*/

.card {
    margin: .618em .618rem;
}

.card__text{
    margin-bottom: 0;
}

.card__media {}

.card__media__image {
    width: 100%;
}

.card__borrower,
.card__owner {
    font-size: .8em;
}

.card--user {
    display: flex;
    flex-direction: column;
    border: 3px solid #444;
    border-radius: 3px;
}

.card__contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .618rem;
    width: 100%;
}

.card__street, .card__region, .card__country {
    margin-bottom: 0;
}


/*=====
#FORM
=====*/

.form {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

.form__fieldsetLegend {
    text-transform: capitalize;
}

.form__fieldset {
    border: none;
    background-color: var(--fieldsetBackground);
}

.form__field {
    display: inline-block;
    width: 49%;
}

.form__fieldLabel {
    text-transform: capitalize;
    display: inline-block;
    width: 5em;
}

.form__submit {
    font-size: 1.25rem;
    padding: .618em;
}

.form__fieldOutput {
    display: inline-block;
    width: 100%;
    min-height: 3.5rem;
}

.form__fieldset--controls {
    grid-area: footer;
}