/*===============
#COMPONENTS
===============*/


/*=====
#USERTABLE
=====*/

.table--userTable .table__headingHeaderRow th {
    border-bottom: 2px solid var(--colorNeutralLightest)
}

.table--userTable .table__headingHeaderRow + .table__headingHeaderRow th {
    font-size: .8em;
}

.table--userTable input {
    width: 100%;
}

.table--userTable #id,
.table--userTable #state,
.table--userTable #country {
    width: 4ch;
}


/*=====
#USERFORM
=====*/

.form--userCreate {
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr;
    grid-template-areas: "header header""name address" "contact address" "footer footer"
}

.form--userCreate .form__fieldset--name {
    grid-area: name;
}

.form--userCreate .form__fieldset--contact {
    grid-area: contact;
}

.form--userCreate .form__fieldset--address {
    grid-area: address;
}


/*=====
#ITEMTABLE
=====*/

.table--itemTable .table__headingHeaderRow th {
    border-bottom: 2px solid var(--colorNeutralLightest)
}


.table--itemTable .table__userCard.card--user {
    border: none;
}

.table--itemTable input {
    width: 100%;
}

.table--itemTable input[type="checkbox"] {
    width: 1em;
}

.table--itemTable input[type="datetime-local"] {
    width: 22ch;
}


/*=====
#ITEMFORM
=====*/

.form--itemCreate {
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 14rem 4rem;
    grid-template-areas: "about about" "owner loan" "footer footer"
}

.form--itemCreate .form__fieldset--itemInfo {
    grid-area: about;
}

.form--itemCreate .form__fieldset--itemInfo .itemCreate__field {
    min-height: 3em;
}

.form--itemCreate .form__fieldset--borrow {
    grid-area: loan;
}

.form--itemCreate .form__imgPreview {
    width: 30vw;
    border-radius: 3px;
    border: 2px solid var(--colorNeutralDarker);
    margin: .618rem 0;
}

.form--itemCreate .form__userCard.card--user {
    border: none;
}


/*=====
#cards
=====*/

.cardDeck {
    background-color: var(--colorNeutralLightest);
}

.cardDeck__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}


/*=====
#User Card
=====*/

.card--user {
    flex-shrink: 0;
    flex-basis: calc(50% - 1.1rem);
    border-radius: .5em;
    background-color: #fff;
    margin: .5rem;
    box-shadow: 0px 1px 2px rgba(26,26,26,.3);
}
/*=====
#Item Card
=====*/


.card--item {
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: calc(20% - 1.1rem);
    max-width: calc(50% - 2.2rem);
    border-radius: .5em;
    background-color: #fff;
    margin: .5rem;
    box-shadow: 0px 1px 2px rgba(26,26,26,.3);
}

.card--item .card__section
 {
    border: none;
    border-top: 1px dotted var(--colorNeutralDarker);
}

/*=====
#Header
=====*/

.appHeader {

}

.appHeader__adminNav {
    position: fixed;
    right: 0;
    top: 0;
    font-size: .8rem;
    background: white;
}

.appHeader__mainNav {

}

.nav {
    display: flex;
}

.nav--horizontal {
    justify-content: flex-start;
}

.nav--vertical {
    flex-direction: column;
    align-items: flex-end;
}

.nav__links {
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.nav__link {
    margin: .25em;
}