/*===============
#COMPONENTS
===============*/

.table--userTable .table__headingHeaderRow th{
    border-bottom: 2px solid var(--colorNeutralLightest)
}

.table--userTable .table__headingHeaderRow + .table__headingHeaderRow th {
    font-size: .8em;
}

.table--userTable input {
    width: 100%;
}

.table--userTable #id,
.table--userTable #state,
.table--userTable #country {
    width: 4ch;
}

.form--userCreate {
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr 1fr;
    grid-template-areas: "header header""name address" "contact address" "footer footer"
}

.form--userCreate .form__fieldset--name {
    grid-area: name;
}

.form--userCreate .form__fieldset--contact {
    grid-area: contact;
}

.form--userCreate .form__fieldset--address {
    grid-area: address;
}

.table--itemTable .table__headingHeaderRow th{
    border-bottom: 2px solid var(--colorNeutralLightest)
}


.table--itemTable .table__userCard.card--user {
    border: none;
}

.table--itemTable input {
    width: 100%;
}

.table--itemTable input[type="checkbox"] {
    width: 1em;
}

.table--itemTable input[type="datetime-local"] {
    width: 22ch;
}

.form--itemCreate {
    grid-template-columns: 1fr 1fr;
    grid-template-rows:1fr 14rem 4rem;
    grid-template-areas: "about about" "owner loan" "footer footer"
}

.form--itemCreate .form__fieldset--itemInfo {
    grid-area: about;
}

.form--itemCreate .form__fieldset--itemInfo .itemCreate__field {
    min-height: 3em;
}

.form--itemCreate .form__fieldset--borrow {
    grid-area: loan;
}

.form--itemCreate .form__imgPreview {
    width: 30vw;
    border-radius: 3px;
    border: 2px solid var(--colorNeutralDarker);
    margin: .618rem 0;
}

.form--itemCreate .form__userCard.card--user {
    border: none;
}
